# Cleaning messy_data.csv

## Importing our library and dataset

In [329]:
import pandas as pd

In [330]:
df=pd.read_csv('messy_data.csv', encoding='Latin-1', sep=';')

In [331]:
df

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,NaN,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,NaN,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,NaN,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,NaN,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,NaN,$ 1864182,213.152,7.4

## Dropping Column: Unnamed: 8

In [332]:
df=df.drop('Unnamed: 8', axis=1)

In [333]:
df

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

## Changing column titles to lowercase

In [334]:
df.columns = df.columns.str.lower()

In [335]:
df

,imbd title id,original titlê,release year,genrë¨,duration,country,content rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

## Renaming column titles with special characters and space

In [336]:
df=df.rename(columns={'imbd title id': 'imbd_title_id', 'original titlê': 'movie_title', 'release year': 'release_year',
                  'genrë¨': 'genre', 'content rating': 'content_rating'})

In [337]:
df

,imbd_title_id,movie_title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

## Getting dataset info

In [338]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imbd_title_id   100 non-null    object
 1   movie_title     100 non-null    object
 2   release_year    100 non-null    object
 3   genre           100 non-null    object
 4   duration        99 non-null     object
 5   country         100 non-null    object
 6   content_rating  77 non-null     object
 7   director        100 non-null    object
 8   income          100 non-null    object
 9    votes          100 non-null    object
 10  score           100 non-null    object
dtypes: object(11)
memory usage: 8.8+ KB

## Changing the datatypes

In [339]:
df.score = pd.to_numeric((df.score), errors='coerce')

In [340]:
df

,imbd_title_id,movie_title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.0
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,NaN
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,NaN
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

## Filling null values in content_rating column

In [341]:
df.content_rating.fillna('Unrated')

0            R
1            R
2        PG-13
3            R
4            R
        ...
96          PG
97           R
98     Unrated
99       PG-13
100    Unrated
Name: content_rating, Length: 101, dtype: object

In [342]:
df.content_rating=df.content_rating.fillna('Unrated')

In [343]:
df

,imbd_title_id,movie_title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.0
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,NaN
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,NaN
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,Unrated,Sergio Leone,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,Unrated,Stanley Donen,$ 1864182,213.152,7.4

## Cleaning votes column

In [344]:
df.rename(columns={' votes ': 'votes'}, inplace=True)

In [345]:
df.votes=df.votes.str.replace('.', '', regex=False)

In [346]:
df=df.drop([13])

In [347]:
df.votes=df.votes.astype(int)

In [348]:
df

,imbd_title_id,movie_title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2278845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1572674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2241615,9.0
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1098714,NaN
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1780147,NaN
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,Unrated,Sergio Leone,$ 15000000,226039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,Unrated,Stanley Donen,$ 1864182,213152,7.4

## Converting release_year column to datetime data type

In [351]:
df.release_year = pd.to_datetime(df.release_year, errors='coerce', infer_datetime_format=True)

In [352]:
df

,imbd_title_id,movie_title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2278845,9.3
1,tt0068646,The Godfather,1972-09-21,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1572674,9.2
2,tt0468569,The Dark Knight,2008-07-23,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2241615,9.0
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1098714,NaN
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1780147,NaN
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,Unrated,Sergio Leone,$ 15000000,226039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,Unrated,Stanley Donen,$ 1864182,213152,7.4

## Extracting the first genre on the genre column

In [365]:
df.genre = df.genre.str.split(',', n=1, expand=True)[0]

In [367]:
df

,imbd_title_id,movie_title,release_year,genre,duration,country,content_rating,director,income,votes,score,genre1,genre2
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2278845,9.3,None,None
1,tt0068646,The Godfather,1972-09-21,Crime,175,USA,R,Francis Ford Coppola,$ 246120974,1572674,9.2,Drama,None
2,tt0468569,The Dark Knight,2008-07-23,Action,152,US,PG-13,Christopher Nolan,$ 1005455211,2241615,9.0,Crime,Drama
3,tt0071562,The Godfather: Part II,1975-09-25,Crime,220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1098714,NaN,Drama,None
4,tt0110912,Pulp Fiction,1994-10-28,Crime,,USA,R,Quentin Tarantino,$ 222831817,1780147,NaN,Drama,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,Comedy,129,USA,PG,George Roy Hill,$ 156000000,236285,7.5,Crime,Drama
97,tt0082096,Das Boot,1982-03-18,Adventure,149,West Germany,R,Wolfgang Petersen,$ 11487676,226427,7.5,Drama,Thriller
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,Unrated,Sergio Leone,$ 15000000,226039,7.4,None,None
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214165,7.4,None,None
100,tt0045152,Singin' in the Rain,1953-02-05,Comedy,103,USA,Unrated,Stanley Donen,$ 1864182,213152,7.4,Musical,Romance

In [368]:
df.country.unique()

array(['USA', 'US', 'New Zealand', 'UK', 'New Zesland', 'Italy',
       'New Zeland', 'US.', 'Brazil', 'Japan', 'Italy1', 'South Korea',
       'France', 'Germany', 'India', 'Denmark', 'West Germany', 'Iran'],
      dtype=object)

## Replacing countries with multiple variations

In [370]:
df.country.replace({'US':'USA', 'US.':'USA', 'New Zesland':'New Zealand', 'New Zeland':'New Zealand', 
                    'Italyl':'Italy', 'West Germany':'Germany'}, inplace=True)

In [371]:
df

,imbd_title_id,movie_title,release_year,genre,duration,country,content_rating,director,income,votes,score,genre1,genre2
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2278845,9.3,None,None
1,tt0068646,The Godfather,1972-09-21,Crime,175,USA,R,Francis Ford Coppola,$ 246120974,1572674,9.2,Drama,None
2,tt0468569,The Dark Knight,2008-07-23,Action,152,USA,PG-13,Christopher Nolan,$ 1005455211,2241615,9.0,Crime,Drama
3,tt0071562,The Godfather: Part II,1975-09-25,Crime,220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1098714,NaN,Drama,None
4,tt0110912,Pulp Fiction,1994-10-28,Crime,,USA,R,Quentin Tarantino,$ 222831817,1780147,NaN,Drama,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,Comedy,129,USA,PG,George Roy Hill,$ 156000000,236285,7.5,Crime,Drama
97,tt0082096,Das Boot,1982-03-18,Adventure,149,Germany,R,Wolfgang Petersen,$ 11487676,226427,7.5,Drama,Thriller
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,Unrated,Sergio Leone,$ 15000000,226039,7.4,None,None
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214165,7.4,None,None
100,tt0045152,Singin' in the Rain,1953-02-05,Comedy,103,USA,Unrated,Stanley Donen,$ 1864182,213152,7.4,Musical,Romance

In [378]:
df.drop(['genre1', 'genre2'], axis=1, inplace=True)

## Final Result

In [379]:
df

,imbd_title_id,movie_title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2278845,9.3
1,tt0068646,The Godfather,1972-09-21,Crime,175,USA,R,Francis Ford Coppola,$ 246120974,1572674,9.2
2,tt0468569,The Dark Knight,2008-07-23,Action,152,USA,PG-13,Christopher Nolan,$ 1005455211,2241615,9.0
3,tt0071562,The Godfather: Part II,1975-09-25,Crime,220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1098714,NaN
4,tt0110912,Pulp Fiction,1994-10-28,Crime,,USA,R,Quentin Tarantino,$ 222831817,1780147,NaN
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,Comedy,129,USA,PG,George Roy Hill,$ 156000000,236285,7.5
97,tt0082096,Das Boot,1982-03-18,Adventure,149,Germany,R,Wolfgang Petersen,$ 11487676,226427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,Unrated,Sergio Leone,$ 15000000,226039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,Comedy,103,USA,Unrated,Stanley Donen,$ 1864182,213152,7.4

In [380]:
df.to_csv('Cleaned_MessyData.csv', encoding='Latin-1', sep=',')